@import url(http://brick.a.ssl.fastly.net/Bitter:400,700);
body {
  background: #0074D9; }

.wrapper {
  color: #fff;
  font-family: "Bitter", Helvetica, sans-serif; }
  .wrapper h1 {
    margin: 0.5em; }
  .wrapper h2 {
    text-align: right; }
  .wrapper .fa {
    margin: 0.5em; }
